body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
}

header {
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
    padding: 10px 0;
    color: #f8f8ff;
    background-color: #a52a2a;
}

.navbar-light {
    background-color: #a52a2a !important;
}

.navbar-light .navbar-brand, .navbar-light .nav-link {
    color: #f8f8ff !important;
}

form {
    background: linear-gradient(135deg,#aa0600, #b3330d);
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.form-group label {
    font-weight: bold;
    color: #ffffff;
}

.form-group input, .form-group textarea {
    border-radius: 5px;
}

.form-group input:focus, .form-group textarea:focus {
    border-color: #d9534f;
    box-shadow: 0 0 5px rgba(217, 83, 79, 0.5);
}

.btn-primary {
    background-color: #d1211b;
    border-color: #f6f6f6;
}

.btn-primary:hover {
    background-color: #c9302c;
    border-color: #c9302c;
}

#formResult {
    width: 50%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 20px 14px rgba(0,0,0,0.2);
}

.fa {
    margin-right: 8px;
}
